@model ThePetShopApp.Models.Animal

@{
	ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
	<h4>Animal</h4>
	<hr />
	<div class="container">
		<div class="row">
			<div class="col-6">
			@await Html.PartialAsync("_DetailsPartial")
				
				
				<div>
					<a class="link-success" asp-action="Edit" asp-route-id="@Model?.AnimalId">Edit</a> |
					<a asp-action="Index">Back to List</a>
				</div>
			</div>
			<div class="col">
				<h4>Comments</h4>
				<table class="table">
					<tr>
						<th>Comment</th>
						<th>Date</th>
						<th>Time</th>
						<th>User</th>
						<th>Action</th>
					</tr>
					@foreach (var comment in Model!.Comments!)
					{
						<tr>
							<td>@comment.CommentTxt</td>
							<td>@comment.Created.ToLongDateString()</td>
							<td>@comment.Created.ToLongTimeString()</td>
							<td>@comment.user!.UserName</td>
							<td>
								<a class="link-danger" asp-action="DeleteComment" asp-route-animalId="@Model.AnimalId" asp-route-commentId="@comment.CommentId">
									Delete comment
								</a>
							</td>
						</tr>
					}

				</table>

				<div>
				</div>
			</div>
		</div>
	</div>
</div>