@model IEnumerable<ThePetShopApp.Models.Animal>

@{
    ViewData["Title"] = "Index"; 
}

<h1>Index</h1>

<p>
    <a asp-action="Create" class="link-success">Create New</a>
</p>
@await Html.PartialAsync("_SearchBar")

<table class="table table-striped">
    <thead class="table-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AnimalId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Age)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PictureName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Categories)
            </th>
            <th>Comments</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>         
            <td>
                @Html.DisplayFor(modelItem => item.AnimalId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Age)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PictureName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Categories!.Name)
            </td>
             <td>
                @item.Comments!.Count
            </td>
            <td>
                <a class="link-success" asp-action="Edit" asp-route-id="@item.AnimalId">Edit</a> |
                <a class="link-info" asp-action="Details" asp-route-id="@item.AnimalId">Details</a> |
                <a class="link-danger" asp-action="Delete" asp-route-id="@item.AnimalId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
