@model ThePetShopApp.Models.Animal

@{
	ViewData["Title"] = "Details";
}

<h1>Details</h1>



<div>
	<h4>Animal</h4>
	<hr />
	<div class="container">
		<div class="row">
			<div class="col-6">
				<img src="@("~/pictures/"+Model.PictureName)" asp-append-version="true" class="c-size-img" />
				<div class="col">
					<dl class="row">
						<dt class="col-sm-2">
							@Html.DisplayNameFor(model => model.Name)
						</dt>
						<dd class="col-sm-10">
							@Html.DisplayFor(model => model.Name)
						</dd>
						<dt class="col-sm-2">
							@Html.DisplayNameFor(model => model.Description)
						</dt>
						<dd class="col-sm-10">
							@Html.DisplayFor(model => model.Description)
						</dd>
						<dt class="col-sm-2">
							@Html.DisplayNameFor(model => model.Age)
						</dt>
						<dd class="col-sm-10">
							@Html.DisplayFor(model => model.Age)
						</dd>
						<dt class="col-sm-2">
							@Html.DisplayNameFor(model => model.PictureName)
						</dt>
						<dd class="col-sm-10">
							@Html.DisplayFor(model => model.PictureName)
						</dd>
						<dt class="col-sm-2">
							@Html.DisplayNameFor(model => model.Categories)
						</dt>
						<dd class="col-sm-10">
							@Html.DisplayFor(model => model.Categories!.Name)
						</dd>
					</dl>
					<div>
						<a asp-controller="Home" asp-action="Index">Back To Home</a>
						<br />
						<a asp-action="Index">Back to List</a>
						<div>
							<br />
							<form asp-action="CreateComment" asp-route-receivedId="@Model.AnimalId">
								<div class="input-group mb-3">
									<label class="input-group-text" id="inputGroup-sizing-lg">Your Comment</label>
									<textarea maxlength="249" name="commentText" class="form-control flex-wrap" rows="4" placeholder="Type your comment here"></textarea>
								</div>
								<div class="form-group">
									<input type="submit" value="Comment" class="btn btn-success" />
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
			<div class="col" >
				<h4>Comments</h4>
				<div class="overflow-auto" style="width: auto; height: 50%">
					<div>
						@foreach (var comment in Model.Comments!)
						{
							<div class="border rounded border-success mb-2 ">
								<div class="p-2 bd-highlight ">
									<p style="word-wrap: break-word; width: 70%">@comment.CommentTxt</p>
								</div>
							</div>

						}
					</div>
				</div>

			</div>
		</div>
	</div>
</div>


